.container {
  @extend %inner-container;
}
.adventages {
  padding-top: 63px;
}
.adventeges-list {
  @extend %list;
  @include card-set();

  margin-top: 62px;
  padding-bottom: 63px;

  &__item {
    @include card-set-item(40px, 4);
  }
}
.adventeges-icon {
  width: 100px;
  height: 100px;
}
.subtitle {
  margin-top: 20px;

  font-size: 17px;
  line-height: 0.6;
  text-transform: uppercase;
  color: $primary-text-color;
}
.advanteges-descr {
  margin-top: 11px;

  font-family: $secondary-font;
  font-size: 15px;
  line-height: 1.5;

  color: rgba(0, 0, 0, 0.74);
}
.adventeges-list__link {
  position: relative;
  display: inline-block;

  overflow: hidden;
  margin-top: 7px;

  text-decoration: none;
  font-size: 16px;
  line-height: 0.8;

  color: $primary-link-color;

  &::after {
    content: "";
    display: block;
    margin-top: 2px;
    border-bottom: 2px solid $primary-link-color;

    transform: translateX(-101%);

    transition: transform $time $time-function;
  }

  &:hover::after,
  &:focus::after {
    transform: translateX(0%);

    transition: transform $time $time-function;
  }
  outline: none;
}
