.callback {
  @extend %inner-container;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bg-color;

  &-title {
    display: inline-block;

    padding: 44px 0px;

    font-size: 31px;
    line-height: 0.86;

    color: $primary-white-color;
  }
}
.callback-btn {
  width: 127px;
  height: 47px;

  font-size: 16px;
  line-height: 0.76;

  color: $primary-white-color;
  background-color: transparent;
  border: 1px solid $primary-white-color;
  border-radius: 4px;

  &:hover{
    color: $bg-line;

    background-color: transparent;
    border: 1px solid $bg-line;

    transition: border 200ms $time-function;
    transition:  color 200ms $time-function;
  }
}
