.header {
  @extend %container;

  position: relative;
}
.mobile-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  transform: translatex(100%);

  width: 100%;
  height: 100%;
  padding: 48px 40px;

  background-color: $primary-white-color;

  transition: transform $time $time-function;

  &.is-open {
    transform: translatex(0);
  }
}
// .site-nav {
//   display: none;
// }
.site-nav-list {
  @extend %list;
}
.site-nav-list__item {
  margin-top: 65px;
}
.site-nav-list__link {
  font-size: 34px;
  line-height: 0.8;

  color: $thirty-text-color;
  &:hover {
    color: $secondary-text-color;
  }
}
.leng-group-list {
  @extend %list;
  display: inline-flex;

  // transform: rotate(90deg);

  margin-top: 100px;
}
.leng-group-list__item {
  display: flex;
  margin-left: auto;
}
.leng-group-list__item:not(:last-child)::after {
  content: "";
  display: flex;
  border-right: 3px solid $primary-text-color;
  color: $primary-text-color;
}
.leng-group-list__link {
  font-size: 34px;
  line-height: 42px;

  color: $thirty-text-color;
}
.btn-menu {
  position: absolute;
  top: 2px;
  right: 30px;
  background-color: transparent;

  z-index: 2;
}
.icon-menu {
  width: 22px;
  height: 22px;
}
// .icon-burger-btn {
//   width: 33px;
//   height: 20px;
// }
.icon-close-btn {
  display: none;
}
.btn-menu.is-open .icon-burger-btn {
  display: none;
}
.btn-menu.is-open .icon-close-btn {
  display: block;
}
