.hero {
  @extend %container;

  padding-bottom: 80px;
}
.hero-title {
  margin-top: 65px;
  width: 124px;

  font-size: 47px;
  line-height: 58px;

  color: $primary-text-color;
}
.hero-descr {
  margin-top: 25px;
  width: 168px;

  font-size: 18px;
  line-height: 22px;

  color: $secondary-text-color;
}
.hero-img{
    margin-top: 35px;
}