.lightbox {
  @extend %inner-container;
}
.lightbox-list {
  @extend %list;
  @include card-set();

  margin-top: 72px;
  margin-bottom: 63px;

  &__item {
    @include card-set-item();
  }
}
.lightbox-list__img {
  scale: 1;
  transition: scale $time $time-function;
  &:hover,
  &:focus {
      cursor: pointer;
      scale: 1.1;

      transition: scale $time $time-function;
  }
}