%list {
  margin: 0;
  padding: 0;

  list-style: none;
}
%link {
  text-decoration: none;
}
%section {
  padding-top: 80px;
  padding-bottom: 80px;
}
%container {
  width: 375px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}