$main-font:'Poppins', sans-serif;
$primary-text-color: #000000;
$secondary-text-color: #090909;
$thirty-text-color: #828282;
$primary-white-color: #ffffff;

$btn-color: #000000;
$bg-color: #F6F6F6;

$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$time: 300ms;