$main-font:'Oswald';
$secondary-font: 'Roboto';
$primary-text-color: #313131;
$secondary-text-color: #000000;
$thirty-text-color: #737373;
$primary-white-color: #ffffff;
$primary-link-color: #CF404D;
$primary-input-text-color: #656565;

$aside-bg-color: #2D3E4F;
$btn-color: #CF404D;
$btn-color-hover: #d33340;
$bg-color: #CF404D;
$bg-contact-form: #FAFAFA;
$bg-line: #E1E1E1;

$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$time: 300ms;